| Column | Description |
| :---        |    :----   |
| VendorID | A code indicating the TPEP provider that provided the record. (1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.)|
| tpep_pickup_datetime | The date and time when the meter was engaged. |
| tpep_dropoff_datetime | The date and time when the meter was disengaged. |
| Passenger_count | The number of passengers in the vehicle. This is a driver-entered value. |
| Trip_distance | The elapsed trip distance in miles reported by the taximeter. |
| PULocationID | TLC Taxi Zone in which the taximeter was engaged |
| DOLocationID | TLC Taxi Zone in which the taximeter was disengaged |
| RateCodeID | The final rate code in effect at the end of the trip. (1= Standard rate, 2=JFK, 3=Newark, 4=Nassau or Westchester, 5=Negotiated fare, 6=Group ride) |
| Store_and_fwd_flag | This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka “store and forward,” because the vehicle did not have a connection to the server. (Y= store and forward trip N= not a store and forward trip) |
| Payment_type | A numeric code signifying how the passenger paid for the trip. (1= Credit card, 2= Cash, 3= No charge, 4= Dispute, 5= Unknown, 6= Voided trip) |
| Fare_amount | The time-and-distance fare calculated by the meter.|
| Extra | Miscellaneous extras and surcharges. Currently, this only includes the 0.50 and 1 rush hour and overnight charges. |
| Total_amount | The total amount charged to passengers. Does not include cash tips. |
| Improvement_surcharge | \$0.30 improvement surcharge assessed trips at the flag drop. The improvement surcharge began being levied in 2015. |
| tip_amount | Tip amount – This field is automatically populated for credit card tips. Cash tips are not included. |
| Tolls_amount | Total amount of all tolls paid in trip. |
| Congestion_Surcharge | Total amount collected in trip for NYS congestion surcharge. |
| Airport_fee | \$1.25 for pick up only at LaGuardia and John F. Kennedy Airports |
| MTA_tax | \$0.50 MTA tax that is automatically triggered based on the metered rate in use.|

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_parquet('..\dataset\yellow_tripdata_2021-09.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2021-09-01 06:04:34,2021-09-01 06:15:28,2.0,4.90,1.0,N,87,229,1,16.0,0.5,0.5,2.00,0.00,0.3,21.80,2.5,0.0
1,2,2021-09-01 06:26:31,2021-09-01 06:32:39,1.0,1.13,1.0,N,162,229,1,6.0,0.5,0.5,1.96,0.00,0.3,11.76,2.5,0.0
2,2,2021-09-01 06:36:15,2021-09-01 06:40:30,2.0,1.37,1.0,N,141,262,1,6.0,0.5,0.5,1.96,0.00,0.3,11.76,2.5,0.0
3,1,2021-09-01 00:00:15,2021-09-01 00:18:34,2.0,6.50,1.0,N,90,260,2,21.0,3.0,0.5,0.00,6.55,0.3,31.35,2.5,0.0
4,2,2021-09-01 00:44:54,2021-09-01 00:56:33,1.0,2.32,1.0,N,75,238,2,10.5,0.5,0.5,0.00,0.00,0.3,11.80,0.0,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2963793 entries, 0 to 2963792
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 429.6+ MB

In [13]:
100*df.isna().sum()/len(df)

VendorID                 0.000000
tpep_pickup_datetime     0.000000
tpep_dropoff_datetime    0.000000
passenger_count          4.819972
trip_distance            0.000000
RatecodeID               4.819972
store_and_fwd_flag       4.819972
PULocationID             0.000000
DOLocationID             0.000000
payment_type             0.000000
fare_amount              0.000000
extra                    0.000000
mta_tax                  0.000000
tip_amount               0.000000
tolls_amount             0.000000
improvement_surcharge    0.000000
total_amount             0.000000
congestion_surcharge     4.819972
airport_fee              4.819972
dtype: float64

In [21]:
borough = pd.read_csv('..\\dataset\\taxi+_zone_lookup.csv')
borough = borough[['LocationID', 'Borough']]
borough.head()

   LocationID        Borough
0           1            EWR
1           2         Queens
2           3          Bronx
3           4      Manhattan
4           5  Staten Island

In [22]:
df = pd.merge(df, borough, how='inner', left_on='PULocationID', right_on='LocationID')
df = pd.merge(df, borough, how='inner', left_on='DOLocationID', right_on='LocationID')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,LocationID_x,Borough_x,LocationID_y,Borough_y
0,2,2021-09-01 06:04:34,2021-09-01 06:15:28,2.0,4.90,1.0,N,87,229,1,...,2.00,0.0,0.3,21.80,2.5,0.0,87,Manhattan,229,Manhattan
1,2,2021-09-01 07:50:57,2021-09-01 08:05:50,1.0,5.62,1.0,N,87,229,1,...,4.26,0.0,0.3,25.56,2.5,0.0,87,Manhattan,229,Manhattan
2,2,2021-09-01 08:40:25,2021-09-01 08:57:03,1.0,5.98,1.0,N,87,229,1,...,2.00,0.0,0.3,24.30,2.5,0.0,87,Manhattan,229,Manhattan
3,2,2021-09-01 13:16:32,2021-09-01 13:30:06,1.0,6.18,1.0,N,87,229,1,...,5.58,0.0,0.3,27.88,2.5,0.0,87,Manhattan,229,Manhattan
4,2,2021-09-01 14:50:59,2021-09-01 15:02:57,2.0,4.98,1.0,N,87,229,2,...,0.00,0.0,0.3,19.30,2.5,0.0,87,Manhattan,229,Manhattan

In [25]:
df.drop(['LocationID_x', 'LocationID_y'], axis=1, inplace=True)
df.drop(['Borough_x'], axis=1, inplace=True)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Borough_y
0,2,2021-09-01 06:04:34,2021-09-01 06:15:28,2.0,4.90,1.0,N,87,229,1,16.0,0.5,0.5,2.00,0.0,0.3,21.80,2.5,0.0,Manhattan
1,2,2021-09-01 07:50:57,2021-09-01 08:05:50,1.0,5.62,1.0,N,87,229,1,18.0,0.0,0.5,4.26,0.0,0.3,25.56,2.5,0.0,Manhattan
2,2,2021-09-01 08:40:25,2021-09-01 08:57:03,1.0,5.98,1.0,N,87,229,1,19.0,0.0,0.5,2.00,0.0,0.3,24.30,2.5,0.0,Manhattan
3,2,2021-09-01 13:16:32,2021-09-01 13:30:06,1.0,6.18,1.0,N,87,229,1,19.0,0.0,0.5,5.58,0.0,0.3,27.88,2.5,0.0,Manhattan
4,2,2021-09-01 14:50:59,2021-09-01 15:02:57,2.0,4.98,1.0,N,87,229,2,16.0,0.0,0.5,0.00,0.0,0.3,19.30,2.5,0.0,Manhattan